aiohttp
aiosignal
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
blinker
boto3
botocore
Brotli
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cssselect2
cycler
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-heroku
django-otp
django-redis
django-weasyprint
djangorestframework
djangorestframework-simplejwt
fonttools
frozenlist
gunicorn
html5lib
idna
itsdangerous
Jinja2
jmespath
kiwisolver
lxml
MarkupSafe
matplotlib
multidict
ndg-httpsclient
opencv-python
oscrypto
packaging
Pillow
psycopg2
psycopg2-binary
pusher
pyasn1
pycparser
pydyf
pyHanko
pyhanko-certvalidator
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pypdf
pyphen
pypng
python-bidi
python-dateutil
pytz
PyYAML
qrcode
redis
reportlab
requests
s3transfer
six
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
weasyprint
webencodings
Werkzeug
whitenoise
xhtml2pdf
yarl
zopfli
